<div class="header">
  <a href="#" class="logo">Portfolio</a>

  <nav class="navbar">
    <a routerLink="/" class="active" style="--i:1;">Inicio</a>
    <a routerLink="/about" fragment="sobre-mi" style="--i:2;">Sobre mí</a>
    <a routerLink="/experience" fragment="experiencia-laboral" style="--i:2;">Experiencia</a>
    <a routerLink="/interests" fragment="habilidades" style="--i:2;">Acerca de mí</a>
    <a routerLink="/projects" fragment="proyectos" style="--i:3;">Proyectos</a>
    <a routerLink="/contact" fragment="contacto" style="--i:4;">Contacto</a>
  </nav>
</div>
