body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: justify;
}

#sobre-mi {
	position: relative;
	width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

#sobre-mi {
  background-color: #ea899a;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5em;
  color: #eee;
}

.contenido {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mi-foto {
  width: 25%;
  height: 25%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.texto {
  flex: 1;
  padding: 2.5em 2.5em 2.5em 2.5em;
  box-shadow: 5px 14px 18px rgba(0, 0, 0, 0.5);
  border-radius: 12%;
  background-color: #1f242d;
}

.texto p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #eee;
}

@media (min-width: 768px) and (max-width: 937px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #sobre-mi {
    height: auto;
    padding: 20px;
  }

  .contenido {
    flex-direction: column;
    gap: 10px;
  }

  .mi-foto {
    width: 100%;
    height: auto;
  }

  .texto {
    padding: 20px;
    box-shadow: none;
    border-radius: 8px;
  }

  h1 {
    font-size: 2em;
  }

  .texto p {
    font-size: 1rem;
  }
}
