<section id="sobre-mi">
  <div class="container">
      <div class="contenido">
          <img src="../../assets/images/lucia-sobremi.png" alt="Mi foto" class="mi-foto">
          <div class="texto">
            <h1>Sobre mí</h1>
            <br>
              <p>¡Hola, mi nombre es Lucía! Soy una estudiante de 2° curso del Ciclo Superior de Comercio Internacional, con un fuerte interés en el sector del marketing internacional.</p>
              <br>
              <p>Busco oportunidades de trabajo o prácticas para adquirir experiencia y aplicar mis conocimientos teóricos en un entorno profesional.</p>
              <br>
              <p>Tengo siempre mil ideas para llevar a cabo, la dedicación para hacerlas realidad, y además la capacidad para transmitir mi pasión a todo aquel que trabaja conmigo. Me gusta destacar, estar siempre superándome y ser capaz de resolver los problemas siempre con una sonrisa.</p>
          </div>
      </div>
  </div>
</section>
