<section id="experiencia-laboral">
  <div class="container">
    <h1>Estudios</h1>
    <br>
    <div class="trabajo">
        <h3>Grado Medio Marketing y Comercio</h3>
        <h4>IES Haygon</h4>
        <p>2021 - 2023</p>
    </div>
    <div class="trabajo">
      <h3>Grado Superior Comercio Internacional</h3>
      <h4>IES Haygon</h4>
      <p>2023 - 2025</p>
    </div>
    <div class="trabajo">
        <h3>Mecanografía</h3>
        <h4>Google S.L</h4>
        <p>2017 - 2018</p>
    </div>
</div>
  <div class="container">
      <h1>Experiencia Laboral</h1>
      <br>
      <div class="trabajo">
          <h3>Repartidor de comida</h3>
          <h4>MUCHOMÁSQUEPIZA S.L | 2019 - 2021</h4>
          <p>Servicio de pizza</p>
      </div>
      <div class="trabajo">
        <h3>Repartidor de comida</h3>
        <h4>A LEÑA S.L | 2021 - 2023</h4>
        <p>Servicio de pizza</p>
      </div>
      <div class="trabajo">
          <h3>Vendedora</h3>
          <h4>Maison du Monde | Mayo 2018 - Septiembre 2023</h4>
          <p>Realizado proceso de venta y atención a clientes</p>
      </div>
  </div>
</section>
<h1>Idiomas</h1>
<div id="idiomas" class="container">
  <div class="bandera">
    <img src="../../assets/images/españa.png" alt="español" class="imagen-proyecto">
    <p>Nativo</p>
  </div>
  <div class="bandera">
    <img src="../../assets/images/inglaterra.png" alt="ingles" class="imagen-proyecto">
    <p>Medio</p>
  </div>
  <div class="bandera">
    <img src="../../assets/images/valenciano.png" alt="ingles" class="imagen-proyecto">
    <p>Alto</p>
  </div>
</div>
