<section id="habilidades">
  <div class="container">
    <h1>Intereses</h1>
    <br>
    <div class="lista linea">
      <h3 class="item">Música</h3>
      <p class="item">Desde el arte de cantar, hasta escucharla, siempre ha sido una parte vital en mi vida.</p>
      <h3 class="item">Lectura</h3>
      <p class="item">Con más de 200 libros leídos a día de hoy, lo considero un hobbie que desde niña se convirtió en pasión.</p>
      <h3 class="item">Viajar</h3>
      <p class="item">Me ha permitido descubrir diferentes percepciones, muy útiles a la hora de entender el comercio internacional.</p>
    </div>
  </div>
  <div class="container">
    <h1>Habilidades</h1>
    <br>
    <div class="lista">
      <ul>
        <li>Conocimientos básicos en estrategias de marketing internacional.</li>
        <li>Capacidad de análisis y gestión de datos relacionados con mercados globales.</li>
        <li>Buenas habilidades de comunicación y negociación.</li>
        <li>Manejo de herramientas ofimáticas (Microsoft Office, Canva...)</li>
        <li>Capacidad de trabajo en equipo y adaptabilidad en entornos multiculturales.</li>
      </ul>
    </div>
  </div>
</section>
