<div class="home">
  <div class="home-content">
    <h3>Hola, soy yo</h3>
    <h1>Lucia Rubio</h1>
    <h3>Soy <span class="tw"></span></h3>
    <div class="social-media">
      <a href="https://linkedin.com/in/lucia-rubio-ramirez-86b611299" target="_blank" rel="noopener noreferrer" style="--i:6;"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://www.instagram.com/fleeeeeeeexx/" target="_blank" rel="noopener noreferrer" style="--i:7;"><i class="fa-brands fa-instagram"></i></a>
      <a href="mailto:lucirubi37@gmail.com" style="--i:7;"><i class="fa fa-envelope"></i></a>
      <a href="tel:+34651179328" style="--i:7;"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
    <a routerLink="/projects" fragment="proyectos"
     class="btn">Ver proyectos</a>
  </div>
  <div class="home-img">
    <img src="/public/img/mifoto4.png" alt="Image of me">
  </div>
</div>
